html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: var(--title-color);
}

section {
  padding-bottom: 94px;
}

:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --accent-white: #ffffff;
  --logo-secondary-color: #000000;
  --background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --header-border-color: #ececec;
  --logo-color: #afb1b8;
}

body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid var(--header-border-color);
}

/* Logo */
.nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-header {
  color: var(--logo-secondary-color);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);
  font-family: 'raleway', sans-serif;
}

.navigation {
  display: flex;
}

.navigation :last-child,
.contacts :last-child {
  margin-right: 0;
}

.navigation a {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation :focus,
.navigation :hover,
.contacts :hover,
.contacts :focus,
.contacts :hover use,
.contacts :focus use {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.position {
  position: relative;
}

a.current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 48px;
}

.navigation a.current {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation > li,
.contacts > li {
  padding: 0;
  margin-right: 50px;
}

.navigation > li > a,
.contacts > li > a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts svg use {
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.icon-header {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  margin-right: 10px;
}

.hero {
  margin-top: 0;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-color: var(--hero-background-color);
  background-image: url(../images/hero-bgi.jpg);
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--accent-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30;
  margin-top: 0;
}

.button {
  color: var(--accent-white);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  cursor: pointer;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  height: 581px;
  width: 528px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--logo-secondary-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal-close:hover {
  cursor: pointer;
  fill: var(--accent-color);
}

.modal-container {
  padding: 40px;
}

.modal-title {
  display: block;
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal-label {
  display: block;
  position: relative;
}

.modal-input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-input:focus + .icons-modal {
  fill: var(--accent-color);
}

.icons-modal {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  display: block;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  transition-property: outline, border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 30px;
}

input[type='checkbox'] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.custom-checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  fill: transparent;
  background-origin: border-box;
}

.custom-checkbox svg {
  margin-left: 1px;
  margin-top: 2px;
}

input[type='checkbox']:checked + label > .custom-checkbox {
  background-color: var(--accent-color);
  border: transparent;
  fill: var(--accent-white);
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.modal-checkbox-agreament {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-submit {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-white);
  background-color: var(--accent-color);
  height: 50px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #188ce8;
}

.advantage-title {
  display: none;
}

.icons-background {
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 100px;
}

.container > ul {
  margin-top: 0;
}

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.advantage-list {
  display: flex;
  padding-top: 94px;
}

.advantage-text {
  justify-content: space-between;
  margin-right: 30px;
}

.advantage-text-last {
  margin-right: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.work {
  margin-top: 0;
}

.work-list {
  display: flex;
  flex-basis: 380px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.work-list-item {
  position: relative;
  margin-right: 30px;
}

.work-list :last-child {
  margin-right: 0;
}

.work-list-item-description {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 7px;
}

.work-list-item-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-white);
  padding-top: 27px;
  margin: 0;
}

.teammember-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 0;
}

.teammember-job {
  margin-bottom: 0;
}

.team {
  background-color: var(--background-color);
}

.title.team {
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  text-align: center;
}

.team-list-member {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.link-list {
  display: flex;
  justify-content: center;
}

.link-list-item {
  display: block;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  fill: var(--logo-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  margin-top: 12px;
}

.link-list-item:hover,
.link-list-item:focus {
  background-color: var(--accent-color);
  fill: #fff;
  cursor: pointer;
}

.clients-title {
  padding-top: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

.client-icon {
  width: 106px;
  height: 60px;
}

.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: block;
  padding: 16px 32px;
  fill: var(--logo-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.filter > li {
  margin-right: 8px;
  margin-top: 94px;
}

.btn {
  background: #f5f4fa;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter :hover,
.filter :focus {
  color: var(--accent-white);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

.portfolio {
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.9;
}

.card-list {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 3 - 30px);
}

.card-list > li > p {
  margin-bottom: 0;
}

.card-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  min-width: 370px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-list-item:hover .overlay {
  transform: translateY(0%);
}

.card-list-text {
  margin: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
}

.portfolio-description {
  margin-top: 0;
}

.overflow {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms ease;
  z-index: 0;
}

.overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-white);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 23px;
  padding-left: 23px;
}

.footer {
  background-color: var(--hero-background-color);
  padding: 60px 0;
}

.logo-footer {
  color: var(--accent-white);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
}

.footer-flex {
  display: flex;
}

.address {
  color: var(--accent-white);
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  margin-top: 20px;
}

.contacts-footer {
  margin-top: 9px;
}

.contacts-footer a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.mail a {
  display: inline-block;
  margin-bottom: 9px;
}

.join {
  margin-left: 70px;
}

.footer-title {
  text-transform: uppercase;
  color: var(--accent-white);
  font-weight: 700;
}

.footer-link-list {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.footer-link {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--accent-white);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.subscribe {
  margin-left: auto;
  margin-right: 0;
}

.footer-form {
  display: flex;
}

.footer-input {
  display: block;
  min-width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  color: var(--accent-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px, 28px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: var(--accent-white);
  color: var(--accent-white);
  background-color: var(--accent-color);
  border: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */