.teammember-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 0;
}
.teammember-job {
  margin-bottom: 0;
}
.team {
  background-color: var(--background-color);
}
.title.team {
  padding-top: 94px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  text-align: center;
}
.team-list-member {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.link-list {
  display: flex;
  justify-content: center;
}
.link-list-item {
  display: block;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  fill: var(--logo-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  margin-top: 12px;
}
.link-list-item:hover,
.link-list-item:focus {
  background-color: var(--accent-color);
  fill: #fff;
  cursor: pointer;
}
