:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --accent-white: #ffffff;
  --logo-secondary-color: #000000;
  --background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --header-border-color: #ececec;
  --logo-color: #afb1b8;
}
